body {
    background-color: #96858f !important;   
    font-family: 'Germania One', cursive !important; 
}

h1 {
	color: #d5d5d5 !important;
	text-align: center;
	font-family: 
}

.tn-image{
	padding: 15px;
}

.tn {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 12px;
  border: 3px solid #d5d5d5;
}
.tn img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.tn img.portrait {
  width: 100%;
  height: auto;
}

.lb-data .lb-close {
    position: absolute;
    top: -36px;
    margin-left: -8px;
}

.photogrid {
	border: 3px solid #d5d5d5;
	background-color: #6d7993;
}

.uploadgrid {
	border: 3px solid #d5d5d5;
	background-color: #9099a2
}

.row {
	margin-left: 10px !important;
}

.loadgif {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button, input, optgroup, select, textarea {
    width: 100%;
}

    .full-size-img-container{
        width: 50%;
        display: inline-block;

    }
    .delete{
      text-align: right;
    }

    .delete button{
      width: 100px;
    }
