body {
    background-color: lightblue !important;
}

.tn-image{
	padding: 15px;
}

.tn {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.tn img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.tn img.portrait {
  width: 100%;
  height: auto;
}

.lb-data .lb-close {
    position: absolute;
    top: -36px;
    margin-left: -8px;
}

.photogrid {
	border: 2px solid black;
}

.uploadgrid {
	border: 2px solid black;
}

button, input, optgroup, select, textarea {
    width: 100%;
}